#game
  .betweem-frame
    h1
      span.names
      |  won that round!
    h2 Get ready for the next artwork you only have #{delayBetween}
  .artwork-frame
    h2 Which genes do 
      span.artwork-title
      |  have?
    .img-container
      img
    .progress-bar-container
      .progress-bar
    ul.genes
  ul.users