#game
  .winner-frame
  .artwork-frame
    .img-container
      img( src='http://static1.artsy.net/additional_images/4e84421cf70c06000100dd95/1/large.jpg' )
      h2 Which genes do 
        span.artwork-title Lobby and Supercomputer
        |  have?
    ul.genes
  ul.users