#game
  .winner-frame
  .artwork-frame
    h2 Which genes do 
      span.artwork-title
      |  have?
    .img-container
      img
    .progress-bar-container
      .progress-bar
    ul.genes
  ul.users