// 
// Embedded assets like images and fonts
// 

ul.genes li .gene-box
  background-image url('/images/bullseye.png') !important
ul.genes li.active .gene-box
  background-image url('/images/bullseye_p.png') !important