// 
// Styles for the actual game
// 

@import 'lib'

#game
  
  // Guessing artwork frame
  .artwork-frame
    .img-container
      margin 50px auto
      width 400px
      text-align center
      img
        max-width 100%
        height 300px
        display inline-block
    h2
      text-align center
      margin 20px 0
      span.artwork-title
        font-weight bold
  
  // Users list
  ul.users
    margin 0 50px
    h3
      font-weight bold
    li
      float left
      width 200px
      background #eee
      margin-right 20px
      padding 10px