// 
// Styles for the actual game
// 

@import 'lib'

contained-width = 1000px

#game
  
  // Guessing artwork frame
  .artwork-frame
    .img-container
      margin 20px auto
      width 400px
      text-align center
      img
        max-width 100%
        height 300px
        display inline-block
    h2
      text-align center
      margin 20px 0
      span.artwork-title
        font-weight bold
    
    // Progress bar
    .progress-bar-container
      width contained-width
      padding 2px
      margin 20px auto
      border 1px solid
      .progress-bar
        background black
        height 10px
      
    // Genes list
    ul.genes
      clearfix()
      width contained-width
      margin auto
      li
        margin 20px
        float left
        width 200px
        height 140px
        .gene-box
          width 100px
          height @width
          background-size 100% 100%
          width 80px
          height @width
          margin auto
        .gene-name
          margin 20px 0
          text-align center
    
  // Users list
  ul.users
    position fixed
    bottom 0
    left 0
    width 100%
    background #f2f2f2
    padding 20px
    h3
      font-weight bold
    li
      float left
      width 200px
      background #eee
      margin-right 20px
      padding 10px
      &.current
        background black
        color white
    ul.stars
      display none