// 
// Styles for the actual game
// 

@import 'lib'

#game
  
  .artwork-frame
    .img-container
      margin 50px auto
      width 400px
      text-align center
      img
        max-width 100%
        height 300px
        display inline-block
    h2
      text-align center
      margin 20px 0
      span.artwork-title
        font-weight bold