// 
// Join page styles
// 

@import 'lib'

#join
  text-align center
  h1
    margin 80px 0 30px 0
    font-weight bold
    text-transform uppercase
    letter-spacing 2  px solid
  input, button
    display inline-block
  input
    width 2 00px