doctype 5
html
  head
    title= userId ? userId : 'Loggin in'
      |  in The Genome Game
    != nap.css('all')
  body
    #frames
      include frames/join
      include frames/game
    #scripts
      != nap.js('vendor')
      != nap.js('all')
      != nap.jst('all')
    script
      var USER_ID = !{userId ? "'" + userId + "'" : 'null'};