doctype 5
html
  head
    title= user.name
      |  in The Genome Game
    != nap.css('all')
  body
    body
      #frames
        include frames/join
        include frames/game
    #scripts
      != nap.js('vendor')
      != nap.js('all')
      != nap.jst('all')
    script
      var USER = !{JSON.stringify(user)}